anyio==3.5.0
asgiref==3.5.0
asyncpg==0.25.0
click==8.1.2
databases==0.5.5
fastapi==0.75.2
greenlet==1.1.2
h11==0.13.0
idna==3.3
psycopg2-binary==2.9.3
pydantic==1.9.0
sniffio==1.2.0
SQLAlchemy==1.4.36
starlette==0.17.1
typing-extensions==4.2.0
uvicorn==0.17.6
